.outer-container{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px;
}

.Image-container{
    border-right: 1px solid grey;
}

.InnerDetails-container{
    
}
.go-back-container{
    height: 50px;
    width: 50px;
    position: fixed;
    background-color: white;
    padding: 10px;
}
.go-back-container button{
    background:none;
}
.Name-profile-count-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Profile-count-data{
    margin-top: 20px;
    height: 300px;
    margin-right: 5px;
    background-color:#fff;
	border-radius: 15px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
   

}


@media only screen and (min-width: 1430px ){
	
	.Profile-count-data{
        width: 30rem;
    }


} 
