@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Nunito+Sans:wght@200;400;700&display=swap');

body,html{
    margin: 0 ;
}
.sui-search-box__submit{
  margin: 0 !important;
  background-color: #38C0D9 !important;
  font:none !important;
  background-image: url(./images/search.svg) !important;
  background-repeat: no-repeat !important;
  font-size: 0px !important;
  width: 60px !important;
  padding: 25px !important;
  background-position: 20% 30% !important;
  height: 3rem !important;
}
.sui-search-box__submit:focus{
	
}
.approved-profile-count{
    position:absolute;
    right: 4rem;
    
}
.sui-search-box__text-input{
	border-right: none !important;
	border-bottom-right-radius: none !important;
	border-top-right-radius: none !important;
	height: 3rem !important ;
}
.sui-search-box__submit:hover{
	background-color:#165FAC !important;
}

.Search-Box{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top:0;
	 z-index: 1000; 
	
}
.image-logo img{
    height: 65px;
    width: 255px;
    padding: 5px;
	margin-left: 1.2vw;
	
}

.search-ui{
    text-decoration: none;
    width: 55vw !important;
    height: 1.5rem;
    padding: 0.6rem;
    margin-left: 2.4vw;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search-ui:focus{
    outline-style: none;
    border: 1.5px solid #165FAC;
    border-right: none;
	
}
.search-ui{
    width: 90%;
    height: 5rem;
    display: flex;
}
.icon-search {
    
}
.icon-search:hover{
    cursor: pointer; 
}

.icon-container{
    height: 1.5rem;
    padding: 0.6rem;
    margin-top: 12px;
    border:  1px solid grey;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
    background-color: #38C0D9;
	
}
.icon-container:hover{
    border: 2px solid #165FAC;
}
.App {
	color: FAFAFA;
}

.Card {
	margin-top: 10px;
	padding: 10px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
    
}
.Download-btn {
	position: absolute;
	right: 3.3vw;
}
.container-btn {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.Card-field p {
	letter-spacing: 1px;
}

.Card-field button{
	background-color: white;
    color: black;
    border: 2px solid #555555;
	border-radius: 5px;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.Card-field button:hover {
	background-color: #555555;
	color: white;
  }
.Profile-content{
	color: #3259ED;
	background: none;
	border: none;
}
.Profile-content:hover{
	border: 2px solid #3259ED;
	border-radius: 8px;
}
.bio-title{
	display: inline;
	padding: 5px;
	font-size: 18px;
	font-weight: 500;
}
.number-card-area{
    display:inline
    
}
.area-card button{
    background-color: white;
    text-decoration: none;
    text-decoration: underline;
    color: #3259ED;
    border: 0;
    padding: 0;
    font-size: 1rem;
}
.searched-term{
    padding: 8px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);

}
.searched-term img{
    width:1.2rem;
    height: 1.2rem;
}
.searched-term button{
    background: none;
}
.searched-term button:hover{
    border-bottom: 2px solid red;
    
}
.clear-filters{
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-top: 4px;
}
.clear-filters button{
    background-color: #fff;
    text-decoration: none !important;
    border-radius: 8px;
}
.clear-filters p{
    display: inline;
    letter-spacing: 2px;
}
.clear-filters img{
    height: 1.5rem;
   
}
.clear-filters:hover{
    border:1px solid red;
}
.profile-requested img{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

@media only screen and (min-width: 1430px ){
	
	.SearchImage img{
		width:280px;
		margin-left: 14.7vw;
	}
	.Download-btn {
		position: absolute;
		right: 8.5vw;
	}


} 

